.page_caption
  %h1.cufon Hello!
  %p.cufon
    Yes, this is not yet implemented.  If you'd like to help, let us know.
.inner_wrapper
  %p
    We are currently focused on the phone and SMS interfaces with VoteSimple.  Over the winter, we will develop this web portal that will allow voters to stay updated on their voting history, as well as influence their facebook and other online friends to vote.