/* line 1, ../../../app/stylesheets/style.sass */
body {
  background-color: #fefefe;
}

/* line 4, ../../../app/stylesheets/style.sass */
.center {
  text-align: center;
}

/* line 7, ../../../app/stylesheets/style.sass */
#quotes {
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  padding-top: 20px;
}
/* line 13, ../../../app/stylesheets/style.sass */
#quotes .quote_start {
  color: grey;
  font-size: 400%;
  float: left;
  font-family: Georgia, Serif;
  margin-top: -25px;
}
/* line 20, ../../../app/stylesheets/style.sass */
#quotes .quote_end {
  color: grey;
  font-size: 400%;
  float: right;
  font-family: Georgia, Serif;
  margin-top: -30px;
  margin-right: -40px;
}
/* line 28, ../../../app/stylesheets/style.sass */
#quotes .quotecontent {
  font-style: italic;
}
/* line 31, ../../../app/stylesheets/style.sass */
#quotes a {
  font-size: small;
}

/* line 35, ../../../app/stylesheets/style.sass */
.index h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* line 38, ../../../app/stylesheets/style.sass */
.index h2 {
  font-weight: bold;
}

/* line 40, ../../../app/stylesheets/style.sass */
.big_logo {
  position: relative;
  left: 20px;
}

/* line 46, ../../../app/stylesheets/style.sass */
.about p, .about li {
  font-size: 150%;
}

/* line 49, ../../../app/stylesheets/style.sass */
.massive {
  font-size: 250%;
}
