/*
Syntax error: Undefined mixin 'html5-boilerplate-reset'.
        on line 13 of /home/faulkner/100percent/app/stylesheets/style.scss, in `html5-boilerplate-reset'
        from line 13 of /home/faulkner/100percent/app/stylesheets/style.scss

8: // (except media) by uncommeting this line
9: //@include html5-boilerplate;
10: 
11: // Or, you can pick and choose only the sections
12: // you want by using the these includes
13: @include html5-boilerplate-reset;
14: @include html5-boilerplate-fonts;
15: @include html5-boilerplate-styles;
16: @include html5-boilerplate-helpers;
17: 
18: // Or, you can import the "overrides" partial if

Backtrace:
/home/faulkner/100percent/app/stylesheets/style.scss:13:in `html5-boilerplate-reset'
/home/faulkner/100percent/app/stylesheets/style.scss:13
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/tree/mixin_node.rb:62:in `perform!'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `block (2 levels) in update_stylesheets'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `block in update_stylesheets'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/warden-1.0.3/lib/warden/manager.rb:35:in `block in call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/warden-1.0.3/lib/warden/manager.rb:34:in `catch'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/warden-1.0.3/lib/warden/manager.rb:34:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/actionpack-3.0.5/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/actionpack-3.0.5/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/actionpack-3.0.5/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/actionpack-3.0.5/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/actionpack-3.0.5/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/actionpack-3.0.5/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:32:in `block in call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/activerecord-3.0.5/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:12:in `cache'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:31:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/activerecord-3.0.5/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/actionpack-3.0.5/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/activesupport-3.0.5/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/actionpack-3.0.5/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/actionpack-3.0.5/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/actionpack-3.0.5/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/railties-3.0.5/lib/rails/rack/logger.rb:13:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/activesupport-3.0.5/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/rack-1.2.2/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/actionpack-3.0.5/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/railties-3.0.5/lib/rails/application.rb:168:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/railties-3.0.5/lib/rails/application.rb:77:in `method_missing'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/railties-3.0.5/lib/rails/rack/log_tailer.rb:14:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/rack-1.2.2/lib/rack/content_length.rb:13:in `call'
/home/faulkner/.rvm/gems/ruby-1.9.2-p136@wigotv/gems/rack-1.2.2/lib/rack/handler/webrick.rb:52:in `service'
/home/faulkner/.rvm/rubies/ruby-1.9.2-p136/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/home/faulkner/.rvm/rubies/ruby-1.9.2-p136/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/home/faulkner/.rvm/rubies/ruby-1.9.2-p136/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'html5-boilerplate-reset'.\A         on line 13 of /home/faulkner/100percent/app/stylesheets/style.scss, in `html5-boilerplate-reset'\A         from line 13 of /home/faulkner/100percent/app/stylesheets/style.scss\A \A 8: // (except media) by uncommeting this line\A 9: //@include html5-boilerplate;\A 10: \A 11: // Or, you can pick and choose only the sections\A 12: // you want by using the these includes\A 13: @include html5-boilerplate-reset;\A 14: @include html5-boilerplate-fonts;\A 15: @include html5-boilerplate-styles;\A 16: @include html5-boilerplate-helpers;\A 17: \A 18: // Or, you can import the \"overrides\" partial if"; }
