
%ul.navigation
  %li
    = link_to "GAB Name Search", "https://vpa.wi.gov/VoterSearchScreen.aspx?Language=en-usus", :target => "blank"
  %li
    = link_to "GAB Address Search", "https://vpa.wi.gov/AddressSearchScreen.aspx?Language=en-us", :target => "blank"