.left_nav
{
	width: 20px;
	height: 47px;
	background: transparent url('/images/skins/blue/left_nav_bg.png') no-repeat top;
	float: left;
}

.right_nav
{
	width: 20px;
	height: 47px;
	background: transparent url('/images/skins/blue/right_nav_bg.png') no-repeat top;
	float: right;
}

#menu_wrapper
{
	background: transparent url('/images/skins/blue/nav_bg.png') repeat-x top;
}

ul.nav li
{
	border-right: 1px solid #0c4f8a;
	border-left: 1px solid #0e5fa7;
	cursor: pointer;
}

ul.nav li.current_page_item, ul.nav li:hover
{
	background: #175f9d url('/images/skins/blue/active_nav_bg.png') repeat-x bottom;
}

ul.nav li:first-child
{
	border: 0;
}

ul.nav li:first-child a
{
	padding-left: 15px;
}

a.big_button, a.big_button:hover
{
	color: #fff;
	background: transparent url("/images/skins/blue/big_btn_bg.png") no-repeat top;
}

a.button, a.button:hover
{
	color: #fff;
	background: transparent url("/images/skins/blue/btn_bg.png") no-repeat top;
}

a.long_button, a.long_button:hover
{
	color: #fff;
	background: transparent url("/images/skins/blue/long_btn_bg.png") no-repeat top;
}

#content_wrapper .inner #content_slider_slide
{
	background: transparent url("/images/skins/blue/blue_slide_bg.png") repeat-x top;
}

.cs-title strong.header
{
	color: #074b87;
}

#content_wrapper .inner #content_slider_slide div .imac_desc h3, #content_wrapper .inner #content_slider_slide div .app_desc h3
{
	color: #074b87;
}

.page_caption h1, .page_no_caption h1
{
	color: #074b87;
}

.pricing_box.large .header
{
	background: transparent url('/images/skins/blue/nav_bg.png') repeat-x top;
	color: #fff;
	text-shadow: 0 0 0 #fff;
}

.pricing_box ul li strong
{
	color: #0854C7;
}

/*@import url("aero.css");*/