/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

/* ========== @font-face =========== */

@font-face {
    font-family: 'NewsCycleRegular';
    src: url('../fonts/NewsCycle-Regular-webfont.eot');
    src: url('../fonts/NewsCycle-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NewsCycle-Regular-webfont.woff') format('woff'),
         url('../fonts/NewsCycle-Regular-webfont.ttf') format('truetype'),
         url('../fonts/NewsCycle-Regular-webfont.svg#NewsCycleRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaLTStdBoldCondensed';
    src: url('../fonts/helveticaltstd-boldcond-webfont.eot');
    src: url('../fonts/helveticaltstd-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaltstd-boldcond-webfont.woff') format('woff'),
         url('../fonts/helveticaltstd-boldcond-webfont.ttf') format('truetype'),
         url('../fonts/helveticaltstd-boldcond-webfont.svg#HelveticaLTStdBoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Serif12BetaRegular';
    src: url('../fonts/serif12beta-regular-webfont.eot');
    src: url('../fonts/serif12beta-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/serif12beta-regular-webfont.woff') format('woff'),
         url('../fonts/serif12beta-regular-webfont.ttf') format('truetype'),
         url('../fonts/serif12beta-regular-webfont.svg#Serif12BetaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



body {
	font-family: Helvetica, sans-serif;
	text-align: left;
	padding-bottom: 50px;
	
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.35, rgb(255,255,255)),
	    color-stop(0.68, rgb(255,255,255)),
	    color-stop(0.84, rgb(245,245,245))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(255,255,255) 35%,
	    rgb(255,255,255) 68%,
	    rgb(245,245,245) 84%
	);
	
	
}

h1 {
	font-family:  'HelveticaLTStdBoldCondensed', 'Serif12BetaRegular';
	letter-spacing: 0px;
	font-size: 50px;
	text-align: center;
	font-weight: 100;
	color: #0973ba;
	text-shadow: #FFFFFF 0 1px 0px, #DDDDDD 0 2px 0px, #CCCCCC 0 3px 0;
}

h2 {
	color: #0973BA;
 	font-size: 24px;
	font-weight: 100;
	margin-bottom: 10px;
	text-align: left;
	text-shadow: #418FC4 0 1px 2px;
}


h3#lead { border-bottom: 1px solid silver;
    border-spacing: 5px;
    border-top: 1px solid silver;
    line-height: 1.3;
    margin-bottom: 5px;
    padding: 16px 0;
    text-align: center;
	color: #000000;
	font-size-adjust: 0.56;
	font-weight: 100;
}

h3 {  
	margin-bottom: 5px; 
	padding-bottom: 3px; 
	text-align: left;
	font-size: 18px;
}

p {
	font-family: Helvetica, 'Serif12BetaRegular', sans-serif;
	font-size: 18px;
	font-weight: lighter;
	line-height: 24px;
	text-align: left;
	margin: 15px 0;
	color: #1c1b1b;
	letter-spacing: 0.3px;
}

p strong {
	font-weight: 600;
}

ul li {
	list-style-type: none;
}

p a, li a {
	color: #C32127;
	text-decoration: none;
}

ul { 
	font-size: 16px; 
	line-height: 1.3em; 
	font-weight: normal;
} 


#main-header {
	/*background: url("../images/head-bg.jpg") repeat;*/
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.35, rgb(0,63,122)),
	    color-stop(0.68, rgb(0,53,103)),
	    color-stop(0.84, rgb(0,47,90))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(0,63,122) 35%,
	    rgb(0,53,103) 68%,
	    rgb(0,47,90) 84%
	);
	
	padding-top: 12px;
	position: relative;
	z-index: 40000;
	height: 100px;
	text-align:right;
	
	box-shadow:rgba(0, 0, 0, 0.296875) 0 1px 5px;
	-moz-box-shadow:rgba(0, 0, 0, 0.296875) 0 1px 5px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.296875) 0 1px 5px;
	
}

#logo {height: 50px;
    padding: 0px 0 0;
    position: absolute;
	width: 155px;}

nav {
	float: right;
	margin: 0;
}

	ul.header_links {
	}

	nav li {
	  float:left;
	  font-size: 16px;
	  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	  height:50px;
	  line-height:35px;
	  list-style-type:none;
	  margin-right:25px;
	  position:relative;
	  letter-spacing: 0.2px;
	  text-transform: uppercase;
	}
	
	nav ul li a {
		display: block;
		color: white;
		text-decoration: none;
		text-shadow: 0px 2px 2px #000000;
	}
	
		nav li a:hover,
    nav li a.active {
			color: #7DB1DD;
			text-shadow: 0 1px 1px #000;
		}
	
		nav li.last a {
			color: red;
			font-weight:600;
			text-shadow:#000000 0 1px 2px;
		}


#main-footer {
/*  background: url("../images/head-bg.jpg") repeat;
*/	
  background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.35, rgb(0,63,122)),
	    color-stop(0.68, rgb(0,53,103)),
	    color-stop(0.84, rgb(0,47,90))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(0,63,122) 35%,
	    rgb(0,53,103) 68%,
	    rgb(0,47,90) 84%
	);
  height: 90px;
	border-top: 3px solid rgba(0, 0, 0, 0.2);
	text-align:left;
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 0;
	margin-bottom: -52px;
}



.wrapper {
	margin: 0 auto;
	width: 960px;
}

	.wrapper h2 {
		margin-top: 26px;
	}



	nav li {
	   	float:left;
		font-size:18px;
		height:35px;
		line-height:26px;
		list-style-type:none;
		margin-right:25px;
		margin-top:-7px;
		padding-bottom:20px;
		position:relative;
		top:20px;
	}
	
	nav ul li a {
		display: block;
		color: white;
		text-decoration: none;
	}
	
		nav li.last a {
			color: red;
		}
		
#mast-wrapper {
  height:400px;
  /*background: url(../images/mast_bg.gif) repeat-x;*/
  }

#mast-body {
  text-align:center;
}
	#mast-body img {
		position: relative;
		top: 35px;
		left: 29px;
	}
	
	#mast-body #apply-button {
		bottom: 203px;
		left: 94px;
		position: relative;
	}
	
		#mast-body #apply-button .button {
			font-size: 30px;
		}
	
	p#sell, p#tag {
		bottom: 159px;
		color: white;
		left: 399px;
		position: relative;
		width: 550px;
		text-shadow:rgba(38, 31, 98, 0.496094) 0 2px 0;
		font-size: 20px;
		clear:both;		
	}
	
	p#tag {
		margin-top: -10px;
	}
	
.splash {
	background: #0973BA;
	overflow: hidden;
}
	#buttons {
		bottom:174px;
		left:224px;
		margin-right: 10px;
		position: relative;
	}
	
		img#submit {
			margin-left: 250px;
			margin-top: 21px;
		}
		
		img#submit a:hover {
			color: black;
		}
	
#testimonial {
  margin:6px 0 0 0;
  background: url(../images/8bit_bg_03.png) repeat;
  text-align:center;
}
#testimonial.inner {
  
}
#solve {
  margin:6px 0 0 0;
  text-align:center;
  height:710px;
  background-color:#fff;
}

.solve.inner h3 strong {
	bottom: 26px;
	color: black;
	position: relative;
}

	#splash-1 {
		position: relative;
		top: 100px;
	}

	#splash-1 h1 {
		color: #000000;
		font-family: 'HelveticaLTStdBoldCondensed', Helvetica, Arial, sans-serif;
		font-size: 83px;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: -20px;
	}
	
		#splash-1 a h1 {
			text-decoration: none;
		}
	
		#splash-1 a:hover h1 {
			color: #2A6DB7;
			text-decoration: none;
		}
	
	#splash-1 h3 {
		font-family: Helvetica;
		font-size: 30px;
		font-weight:100;
		line-height: 1.3;
		padding: 0 200px;
		position: relative;
		text-align: center;
		margin-top: 8px;
		color: #777;
		text-shadow:#EEEEEE 0 2px 0;
	}
	
	#splash-1 img {
		right: 20px;
		top: -30px;
	}
	
	#splash-1 a:hover {
	} 
	
	img#icons {
		top: -56px;
		position: relative;
		left: 1px;
	}
	
	.program-preview {
		font-family:'HelveticaLTStdBoldCondensed', Helvetica, Arial, sans-serif;
	}
	
	.program-preview h4 {
		font-size: 27px;
		font-weight: 100;
		text-transform: uppercase;
		color: white;
		background: #C32127;
		height: 40px;
		width: 515px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-top: 15px;
		text-shadow:rgba(0, 0, 0, 0.296875) 0 2px 0;
	}
	
	#red-title {
		margin-top: 40px;
	}
	
		#red-title a:hover h4 {
			color: #e5e4e4;
		}
	
	img.program-preview {
		clear: both;
		margin-top: 45px;
		position: relative;
		margin-left: 25px;
	}
	
	
#options {
	left: 7px;
	bottom: 15px;
	margin: 0 auto;
	position: relative;
	width: 767px;
}
	
	.buttons {
		display: block;
		float: left;
		margin: 0 auto;
	}
	
	.buttons.last {
		margin-right: 0 !important;
	}
	
	#options-buttons {
		float: left;
	}

		#options-buttons a, #options-buttons p {
			bottom:49px;
			color:white;
			float:right;
			font-family:'HelveticaLTStdBoldCondensed', Helvetica, Arial, sans-serif;
			font-size:21px;
			font-weight:400;
			left:18px;
			margin-left:5px;
			margin-right:34px;
			position:relative;
			text-decoration:none;
			text-shadow: 0 2px 0 #28265E;
		}
		
		#options-buttons a:hover p {
			color: #7DB1DD;
		}
		
		
		
		#options-buttons img {
			left:10px;
			position:relative;
			top:-50px;
		}
		
		#options-buttons a#space:hover img {
			background: url('../images/spaces_hover_03.png') no-repeat;
		}
	
		

#learn_best {
  margin:6px 0 0 0;
  text-align:center;
  height:400px;
  padding:20px 0 0 0;
  background: #0973BA;
  clear: both;
}
  .learn_best.inner {
	margin: 0 auto;
	position: relative;
	background: #fff;
	width: 885px;
	height: 314px;
}

	#people_preview {
		clear: both;
		margin-left: 25px;
		margin-top: 34px;
		position: relative;
		left: -14px;
	}
	
	#learn-content {
		float: right;
		width: 500px;
		margin-top: 40px;
	}
	
		#learn-content h3 {
			font-family: 'HelveticaLTStdBoldCondensed', Helvetica, Arial, sans-serif;
			font-size: 39px;
			font-weight: 100;
			text-transform: uppercase;
		}
		
		#learn-content p {
			color:#888888;
			font-size:21px;
			line-height:1.2;
		}
	
	#meet_team_button {
		bottom: 58px;
		clear: both;
		left: 82px;
		margin: 0 auto;
		position: relative;
		width: 767px;
	}





		
/* ============= Home Page CSS - Part 1 ============= */

#home-rotator {
	display: none;
}

.imgleft {
	float:left;
	width: 300px;
}

#ca-tagline h2 {
	color: white;
	font-family: 'HelveticaLTStdBoldCondensed', Helvetica, Arial, sans-serif;
	font-weight: 500;
	position: relative;
	text-align: center;
	text-shadow: 0 2px 0 #272260;
	text-transform: uppercase;
	top: 100px;
	
}

	#ca-tagline h2 strong {
		bottom: 28px;
		font-size: 56px;
		position: relative;
	}

#value-1, #value-2, #value-3, #value-4, #value-5 {
	margin-top: 50px;
}

	#value-1 h1 {
		font-size: 40px;
	}
	
	#value-1 h2 {
		text-align: center;
	}
#splash-bg {
	width: 100%;
	background: #0a74ba;
}


#value-prop {
	padding: 25px;
}

#value-prop h1 {
    color: white;
	font-size: 24px;
	left: 15px;
	position: relative;
	text-shadow: 0 1px 2px #272260;
	text-transform: uppercase;
	top: 75px;
	width: 616px;
}

	#value-prop h1 strong {
		text-transform: uppercase;
		font-size: 58px;
	}
	
	#value-prop h2 {
		text-align: center;
	}
	
.testimonial.inner img {
	padding: 15px;
}


/* ======= Program Page CSS ======== */

.program-header {
	clear: both;
	width: 100%;
	float: left;
	margin-top: 15px;
}

	.program-header h2 {
		vertical-align: baseline;
	}
	
	.program-header a {
		position: relative;
		text-decoration: none;
		top: 80px;
	}
	#program-header-1, #program-header-2, #program-header-3, #program-header-4, #program-header-5 {
		display: inline;
		cursor: pointer;
		height: 195px;
		width: 210px;
		float: right;
		background: #dedede;
		margin-right: 5px;
		margin-top: 15px;
	}
#overview, #ca-schedule, #students, #space {
	clear: both;
	padding-left: 98px;
	position: relative;
	top: 50px;
}

h3#lead {
	font-family: Helvetica, 'Serif12BetaRegular', sans-serif;
	font-weight:600;
	text-shadow:#FFFFFF 0 2px 0;
}

	#part-1, #part-2, #part-3, #part-4, #part-5, #tab2, #tab3, #tab4 {
		margin-top: 30px;
		text-align: center;
	}
	
		#part-1 h1 {
			font-size: 60px;
			text-transform: uppercase;
		}
		
		#part-1 p {
			margin-top: 25px;
		}
		
		#part-1 p, #part-2 p, #part-3 p, #part-4 p {
		}
		
		#part-3 h3 {
			font-style: italic;
		}
		
		#part-4 h3 {
			margin-bottom:-8px;
			margin-top:25px;
		}
		
#skills li, #build li {
	background: url("../images/small-hashrocket_03.png") no-repeat scroll 1px 50% transparent;
	margin-bottom: 7px;
	padding-left: 25px;
	position: relative;
}

p.callout {
	bottom: 280px;
	border-left: .5px dashed rgba(0, 0, 0, 0.4);
	font-family: 'Serif12BetaRegular';
	font-size: 24px;
	font-style: italic;
	font-weight: 100;
	line-height: 1.2;
	padding: 10px;
	position: relative;
	color: rgba(0,0,0,.6);
	left: -20px;
	
}

p.callout strong {
	bottom: 49px;
	font-weight: normal;
	left: 28px;
	position: relative;
}

p.callout em {
	bottom: 40px;
	color: black;
	left: 27px;
	position: relative;
}

.opening {
	font-size: 80px;
	color: #418FC4;
}

.right {
	float: right;
	height: 250px;
	width: 500px;
}

.left {
	float: left;
	width: 400px;
}

#weekly-schedule {
	clear: both;
	margin: 0 auto;
	width: 700px;
}

	#weekly-schedule h2 {
		bottom: 15px;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 28px;
		font-weight: 100;
		left: -29px;
		position: relative;
		text-align: center;	
	}

#dates img {
	width: 245px;
}

#weekly-schedule li {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	list-style-type: none;
	margin-bottom: 27.3px;
	text-align: left;
}

#ladder {
	float: left;
}

#ca-students h1, #students h1, #space h1, #space h3 {
	text-align: center;
}

header div {
  z-index: 1;
}

/* =========== FAQ Page =============== */

#faq {
}

/* ============== Students Section ============== */

#profile {
	width: 450px;
	display: block;
	margin: 0 auto;
}


.rounded-box {
  background: #fff;
	clear: both;
	margin-bottom: 75px;
	padding-bottom: 11px;
	overflow:auto;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-box-shadow: 0px 3px 3px #b7b2a9;
  -webkit-box-shadow: 0px 3px 3px #b7b2a9;
  box-shadow: 0px 3px 3px #b7b2a9;
}


/* ============== Space Section =============== */

h1#tab4 {
	padding: 0 84px;
	margin-bottom: 18px;
}

.photo {
	float: left;
}

	.photo img {
		-moz-box-shadow: #DEDEDE 2px 2px 2px;
		-webkit-box-shadow: #DEDEDE 2px 2px 2px;
		-box-shadow: #DEDEDE 2px 2px 2px;
	}
.description {
	float: right;
	width: 550px;
	margin-top: 20px;
}
	.description h2 {
		font-family: Helvetica Neue, Helvetica, sans-serif;
		font-weight: 600;
	}

	#pairing {
		margin-bottom: 75px;
	}
	
	#chairs {
		margin-bottom: 100px;
	}
	
	#whiteboard {
		margin-bottom: 45px;
	}
	
	#tables {
		margin-bottom: 20px;
	}



/*======== Staff Section ======== */

#staff {
	text-align: left;
}

.intro {
	clear: both;
	width: 960px;
	margin: 0 auto;
	text-align: center;
	height: 166px;
}

	.intro h3 {
		font-weight: 100;
		letter-spacing: 0.5px;
		line-height: 1.3em;
		margin: 25px 0;
		text-align: center;
	}

	
	li.bio {
		background-image: none;
		float: left;
		list-style: none outside none;
		margin-right: 38px;
		padding-left: 0;
		text-align: center;
		width: 150px;
	}

		li.bio a {
			color: #0973ba;
		}
		
			li.bio.fn {
				font-size: 19px;
				font-weight:100;
				/*text-shadow:#418FC4 0 1px 2px;*/
			}
			
			li.bio .role {
				bottom: 18px;
				display: block;
				font-size: 14px;
				font-weight: 100;
				left: 10px;
				line-height: 1.2;
				position: relative;
				width: 110px;
			}
		


#instructor {
}

	#instructor img {
		margin: 20px 0px;
	}

	#instructor h2 {
		font-size: 24px;
	}

	#instructor li a {
		float: left;
		width: 204px;
		margin-left: 35px;
	}
	
		#instructor li p a {
			float: none;
			margin-left: 0px;
		}

	li.content {
		float: left;
		margin-top: 21px;
		width: 656px;
	}
	
	li.content p {
		font-family: Helvetica, Arial, sans-serif;
	}
	


#mentor-list {

}

	#mentor-list ul {
		margin-left: 50px;
	}

	#mentor-list li.bio {
		margin-top: 50px;
		width: 107px;
	}
	
	#mentor-list li.bio .fn {
		color: #C32127;
		display: block;
		text-align: center;
		width: 128px;
	}
	
	.last {
		margin-right: 0px!important;
	}


/* Mike, these classes should all be inheriting their structure and style from a base class so that we don't repeat ourselves */
#leadership li div {
	background: url(../images/Untitled-1.jpg) 0 0 no-repeat;
	height: 177px;
	width: 148px;
}
#leadership li div.mike {
	background-position: -148px 0;
}
#leadership li div.claire {
	background-position: -296px 0;
}
#leadership li div.maggie {
	background-position: -444px 0;
}



	#leadership ul {
		padding-left: 120px;
	}
	
	#leadership li.bio {
		margin-top: 25px;
	}
	
	#leadership li.bio .fn {
		color: #0973BA;
	}
	
	#leadership li.bio .role {
		bottom: -1px;
		color: black;
		font-weight: 100;
		left: 19px;
		position: relative;
		text-align: center;
	}
	
	#start-app {
		margin-left: auto;
		margin-right: auto;
		width: 960px;
		text-align: center;
	}
	
		#start-app h2 {
			text-align: center;
		}

.cl-15 {
	clear: both;
	font-size: 1px;
	height: 15px;
}

.cl-50 {
	clear: both;
	font-size: 1px;
	height: 50px;
}

.cl-35 {
	clear: both;
	font-size: 1px;
	height: 35px;
}

/*====== Community Page CSS ======== */


.intro h3 strong {
	bottom: 68px;
	font-weight: 100;
	position: relative;
}

#row-1 {
	margin: auto 67px;
	width: 900px;
	position: relative;
}

	#row-1 ul {
		margin-left: 0;
	}
	
	#row-1 li {
		float: left;
		list-style: none outside none;
		margin-bottom: 10px;
		margin-right: 12px;
		padding-left: 0;
	}
	

	
#advisers {
	clear: both;
}

	#advisers li.bio {
		width: 122px;
	}
	
	#advisers li.bio .fn {
		color: #C32127;
		position: relative;
		top: 3px;
		font-weight:400;
	}
	
	#advisers li.bio .role {
		font-size: 13px;
		left: 8px;
		position: relative;
		top: 5px;
	}
	
	#advisers ul {
		line-height: 1;
	}

/* ====== Video Page CSS ====== */



.entrepreneurs, .developers, .students, .investors {
	text-align: left;
}

	.entrepreneurs h2, .developers h2, .students h2, .investors h2 {
		padding: 10px;
		background-color: green;
		color: white;
		width: 200px;
	}
	
	.entrepreneurs h3, .developers h3, .students h3, .investors h3 {
		padding: 7px;
		background-color: blue;
		color: white;
		width: 100px;
	}
	
	.entrepreneurs a, .developers a, .students a, .investors a {
		text-decoration: none;
		color: white;
		cursor: pointer;
	}
	
/* ======== Videos ============= */

h3#more-videos {
	font-size: 24px;
	text-align: center;
	margin-bottom: 75px;
}

#chicago-quotes {
	
}	

#chicago-quotes p.callout {
	font-size: 18px;
	position: relative;
	top: -13px;
	border: none;
	padding-bottom: -10px;	
}

	#chicago-quotes p.callout .troy {
		margin-bottom: 0px;
		margin-top: -15px;
	}

#chicago-quotes p.callout em {
	display: block;
	font-size: 16px;
	left: 27px;
	position: relative;
	text-align: left;
	top: -36px;
}


	#chicago-quotes .left {
		width: 450px;
		height: 171px;
	}
	
	#chicago-quotes .right {
		width: 450px;
		height: 171px;
	}
	
	#chicago-quotes p.callout .right {
		margin-bottom: -19px;
	}
	
	
/* ============= Apply Page =========== */

#apply #main-footer {
	height: 200px;
}

#apply {
	min-height: 800px;
}

#apply p.callout {
	border-left: 0 none;
	font-size: 18px;
	height: 251px;
	left: 25px;
	margin-bottom: -64px;
	position: relative;
	top: -22px;
	width: 410px;
}

	#apply p.callout em {
		display: block;
		font-size: 16px;
		left: 27px;
		position: relative;
		text-align: left;
		top: -36px;
	}

.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 35px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}


/* red */
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
}
.red:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
}

.Fr {
	float: right;
	display: block;
	width: 610px;
}

#apply-header {
	position: relative;
	text-align: center;
	top: 25px;
}
	#apply-header .button.red {
		position: relative;
	}

#apply-header h1 {
	font-size: 50px;
	text-align: center;
	padding: 10px;
}

	#apply-header h3 {
		text-align: center;
		font-size: 22px;
		color: rgba(0, 0, 0, 0.8);
	}
	
#exclusive p, #cost p, #timeline p {
	text-align: center;
}	

#cost {
	
}
	
#timeline {
	
}

#app-timeline {
	border: 1px solid rgba(0,0,0, 0.2);
	width: 500px;
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 57px;
}

#app-timeline p strong {
	color: #c32127;
}

	#timeline-title {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		text-align: center;
		top: 70px;
		width: 300px;
		right: 219px;
	}

	#timeline-title h3 {
		padding: 8px;
		text-align: center;
		background: #C32127;
		color: white;
		text-shadow: 1px 2px 2px #000;
	}

#apply-splash {
	float: left;
	left: 70px;
	position: relative;
	top: 25px;
	width: 270px;
}

	#what-you-get li {
		font-size: 24px;
		text-align: center;
		margin-top: 10px;
		font-weight: 100;
	}

#app-info {
	
}



#app-deadline {
	font-size: 22px;
	text-align: center;
	position: relative;
	bottom: 100px;
}

#course-info p {
	text-align: left;
}

#course-info h3 {
	font-size: 22px;
	text-align: center;
}

	#course-info strong {
		color: #C32127;
	}

#apply-button {
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:960px;
	text-align: center;
}

#apply-button a {
	color: #C32127;
	font-size: 50px;
	padding: 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
	left: 54px;
	top: 52px;
	
}

#apply-button h3 {
	clear: both;
	color: black;
	font-size: 80px;
	margin-bottom: 9px;
	left: 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 #DDDDDD, 0 2px 0 #DDDDCC, 0 3px 0 #DDDDBB, 0 4px 0 #CCCCCC;
}

#apply-button img {
	width: 200px;
	display: block;
	position: relative;
	left: 375px;
	top: 25px;
	
}

footer {
	clear: both;
	text-align: left;
}

.footer_links {
	display: inline;
}



/* ============================= */
/* ! iPad Landscape   */
/* ============================= */

@media (max-device-width: 1024px) and (orientation: landscape) {

	.container {
		margin-left: auto;
		margin-right: auto;
		width: 768px;
	}

}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

		
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */

	body {
		width: 320px;
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */

}


#scroll-container {min-height:1200px;}

div.section{
	width:98%;
	padding:10px;
	margin: 5px 0;
	position:absolute;
	overflow:auto;
}
	div.section h3{
		margin-bottom:10px;
	}
	div.section .pane-0{
		position:relative;
		left:0;
		width:25%;
		height:600px;
		float:left;
	}
	div.section .pane-1{
	  position:relative;
		width:25%;
		height:600px;
		float:left;
		background-color:red;
	}
	div.section .pane-2{
	  position:relative;
		width:25%;
		height:600px;
		float:left;
	}
	div.section .pane-3{
		position:relative;
		width:25%;
		height:600px;
		float:left;
	}
	div.section .pane-4{
		position:relative;
    width:25%;
		height:600px;
		float:left;
	}
	div.section .pane-5{
		position:relative;
    width:25%;
		height:600px;
		float:left;
	}
	
	div.pane{
		overflow:hidden;
		clear:left;
		margin: 10px 0px 0 10px;
	  width:98%;
		height:600px;
	}
	.pane ul {
	  height:800px;
	  width:10000px;
	}
ul.elements{
	background-color:#000;
	width:10000px;
}

	ul.elements li{
		height:100px;
		font-weight:bolder;
		text-align:left;
		padding:50px;
		background-color:#fff;
	}
		ul.elements li a{
			bottom:20px;
			color:#933;
			font-size:12px;
			left:125px;
			position:absolute;
		}
		ul.elements li p{
			color:#666;
		}
	#pane-options ul.elements li{
		margin:5px;
	}
	#pane-options{
		margin-bottom:10px;
	}
ul.links{
	height:20px;
}
	ul.links a{
		color:#69C;
		margin:0pt 5px;
	}
h3 span{
	position:absolute;			
}
.message{
	background:#EEE;
	border:1px solid #999;
	color:#333;
	font-size:12px;
	font-weight:normal;
	padding:1px;
	margin-top:2px;
}

.footer_links a{color:#000 !important;}

iframe {
  position:relative;
}
