
- flash.each do |type, message|
  %div.alert-message.fade.in{ "data-alert" => "alert", :class => flash_class(type) }
    %a.close{:href => "#", :"data-dismiss" => "alert"} ×
    %span= message.html_safe