#container

body
  background-color: #c4c4c2
  background-image: url('/images/background-texture.png')
  background-repeat: no-repeat
  background-position: top center

.center
  text-align: center

#quotes
  text-align: right
  font-weight: bold
  font-size: 125%
  text-transform: uppercase
  padding-top: 20px

.index
  h1
    text-transform: uppercase
    margin-bottom: 30px

