global: &global
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password:
  min_messages: warning

development:
  database: gotv_development
  <<: *global

test: &test
  database: gotv_test
  <<: *global

cucumber:
  <<: *test
