%p
  Our goal is to encourage and facilitate registration and voting until every Wisconsin resident votes in every election*

%p
  = "We're building a mobile SMS, Interactive Voice Response, and voice conferencing platform to directly help voters via automated-coaching and peer-mentoring while maintaining privacy of the voter's phone information."

%p
  This system will mitigate or eliminate several barriers that prevent registration and voting, and will offer assistance to facilitate early registration and voting via all legal means. Volunteers will be recruited to carry out on the ground mentoring for prospective voters.

%p
  Web interfaces, social networks, and crowd funding approaches will be used to solicit funding for the system, recruit developers to help build and maintain it, and recruit mentors to assist prospective voters who desire assistance through any of the steps of voting - which we identify roughly as:
  %ul
    %li
      determining eligibility
    %li
      identifying their districts and upcoming elections
    %li
      establishing valid current registration
    %li
      getting and understanding their ballots
    %li
      requesting and returning absentee ballots to vote at their convenience
    %li
      identifying their polling place
    %li
      options for transportation to and from their polling place


%p
  *think 100% = impossible? Much harder things have been done.

