%h1 Contact

%p
  Email:
  = mail_to "info@votesimple.org", "info@votesimple.org"

%p
  Twitter:
  = link_to "VoteSimpleOrg", "https://twitter.com/votesimpleorg"

%p 
  VoteSimple is a collection of 
  %b volunteers 
  working to improve the voter turnout rate in Wisconsin.  
%p We're #{link_to 'non-partisan', about_path} and our sole interest is in increasing citizen involvement in the election process.
