.page_caption
  %h1.cufon How It Works
  %p.cufon
    VoteSimple is a simplified way to answer your questions about voting in Wisconsin.
.inner_wrapper
  %p
    %b 1. 
    Send a text message to: 
    = APP_CONFIG[:TWILIO_CALLER_ID]
  %p
    %b 2. 
    Answer the questions the system prompts back.
  %p
    %b 3. 
    Based on your information (which we keep secured and confidential) the system will determine when & where you can vote next.
  %p
    %b 4. 
    If you have any problems with the system, just text "help", and a volunteer will contact you.
  %h2 Future Enhancements
  %p
    We're working on a voice based system that will connect those looking for answers about voting in Wisconsin with those willing and able to answer these questions.  This system will be a real-time phone based system.  Voters will simply call the VoteSimple number and be connected anonymously with a citizen volunteer who will be pre-qualified in their understanding of voting issues in Wisconsin. 
  %p All phone calls will be recorded and audited for conformance to volunteer expectations and all people looking for help will be able to rate their experience with the system.
  %p Think of it as a volunteer supported statewide call center staffed by Wisconsin voters to help Wisconsin voters.