.page_caption
  %h1.cufon How It Works
  %p.cufon
    VoteSimple is a simplified way to answer your questions about voting in Wisconsin.
.inner_wrapper
  %p
    %b 1. 
    Send a text message to: 
    = APP_CONFIG[:TWILIO_CALLER_ID]
  %p
    %b 2. 
    Answer the questions the system prompts back.
  %p
    %b 3. 
    Based on your information (which we keep secured and confidential) the system will determine when & where you can vote next.
  %p
    %b 4. 
    If you have any problems with the system, just text "help", and a volunteer will contact you.