
%h2.center#welcome
  Learn when, where, and how to vote in Wisconsin
  %br
  %br
  %span.massive
    Text "Vote" to
    =# Get this from IP geocode lookup to determine what area code to display.  715, 920, 414, 608.
    = APP_CONFIG[:TWILIO_CALLER_ID]

=# link_to 'Sign In', new_user_registration_path
=# link_to 'Sign in', new_user_session_path

%br

#quotes.span-24.clear.last
  .span-12.tweet_button
    %a.twitter-share-button{"data-count" => "horizontal", "data-text" => "Learn when, where, and how to vote in Wisconsin", "data-via" => "votesimpleorg", :href => "http://twitter.com/share"} Tweet
    %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
  .span-12.last.like_button
    %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
    %fb:like{:font => "", :href => "www.votesimple.org", :layout => "button_count", :show_faces => "true", :width => "450"}

  .span-24.last.clear
    %p
      = link_to 'About Vote Simple', about_path
    %br
    %p
      In Madison? Union Cab and Badger Cab are offering...
      %br
      = link_to "Free Rides to Polling Places April 5th", "http://www.unioncab.com/opencms/opencms/news/ElectionDay.html", :style => 'font-size: 20px'


