%h1.center
  Use Vote Simple with SMS!
  %br
  Text "Vote" to (414)939-8633

=# link_to 'Sign In', new_user_registration_path
=# link_to 'Sign in', new_user_session_path

#quotes.span-24.clear.last
  .quote.span-7.append-1
    %p
      “Whenever the people are well informed, they can be trusted with their own government.”
      %br
      \- Thomas Jefferson
  .quote.span-7.append-1
    %p
      "Bad officials are elected by good citizens who do not vote.”
      %br
      \- George Jean Nathan
  .quote.span-8.last
    %p
      “[voting is]..The rational and peacable instrument of reform”
      %br
      \- Thomas Jefferson

