
%h2.center#welcome
  Vote Simple will help you find out when, where, and how to vote
  %br
  Just call or Text "Vote" to (414)939-8633

=# link_to 'Sign In', new_user_registration_path
=# link_to 'Sign in', new_user_session_path

#quotes.span-8.prepend-8.append.8.clear.last
  %p
    %span.quote_start
      &#8220;
    %span.quotecontent Bad officials are elected by good citizens who do not vote.
    %span.quote_end
      &#8221;
    %br
    \- George Jean Nathan

