
%h2.center#welcome
  Vote Simple will help you find out when, where, and how to vote
  %br
  %br
  %span.massive
    Text "Vote" to
    =# Get this from IP geocode lookup to determine what area code to display.  715, 920, 414, 608.
    = APP_CONFIG[:TWILIO_CALLER_ID]

=# link_to 'Sign In', new_user_registration_path
=# link_to 'Sign in', new_user_session_path

%br
%br

#quotes.span-8.prepend-8.append.8.clear.last
  %p
    %span.quote_start
      &#8220;
    %span.quotecontent Whenever the people are well informed, they can be trusted with their own government.
    %span.quote_end
      &#8221;
    %br
    %span.quoteauthor
      \- Thomas Jefferson
  %br
  %p
    = link_to 'About Vote Simple', about_path

