%ul
  %li.widget
    %a.twitter-share-button{"data-count" => "horizontal", "data-text" => "Learn when, where, and how to vote in Wisconsin", "data-via" => "votesimpleorg", :href => "http://twitter.com/share"} Tweet
    %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
  %li.widget
    %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
    %fb:like{:font => "", :href => "www.votesimple.org", :layout => "button_count", :show_faces => "true", :width => "450"}
      