= javascript_include_tag 'http://code.jquery.com/jquery-latest.min.js'
= javascript_include_tag 'application'


-# Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb
/[if lt IE 7 ]
  = javascript_include_tag 'dd_belatedpng.js'
  :javascript
    //DD_belatedPNG.fix('img, .png_bg');

-#  Append your own using content_for :javascripts
= yield :javascripts

