= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'
= javascript_include_tag 'rails', 'plugins', 'application','analytics/one', 'analytics/two', 'jquery.img.preload', 'fancybox/jquery.fancybox-1.3.0', 'coin-slider', 'jquery.validate', 'hint', 'galleria', 'cufon', 'PT_Sans_400.font', 'browser', 'custom'


-# Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb
/[if lt IE 7 ]
  = javascript_include_tag 'dd_belatedpng.js'
  :javascript
    //DD_belatedPNG.fix('img, .png_bg');

-#  Append your own using content_for :javascripts
= yield :javascripts

