
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
= stylesheet_link_tag 'styles.css'

-# Append your own using content_for :stylesheets
= yield :stylesheets

